SmartCity/WindowsPresentationFoundation/Service References/SmartCityReference/ServiceWCFSmartCity1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53221/ServiceWCFSmartCity.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WindowsCommunicationFoundation" />
  <xs:element name="Connexion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="m" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnexionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WindowsCommunicationFoundation" minOccurs="0" name="ConnexionResult" nillable="true" type="q1:PersonneWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDefauts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDefautsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WindowsCommunicationFoundation" minOccurs="0" name="GetAllDefautsResult" nillable="true" type="q2:ArrayOfDefautWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInterventionsOrderByDate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInterventionsOrderByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WindowsCommunicationFoundation" minOccurs="0" name="GetAllInterventionsOrderByDateResult" nillable="true" type="q3:ArrayOfInterventionWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInterventionByDefaut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInterventionByDefautResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WindowsCommunicationFoundation" minOccurs="0" name="GetInterventionByDefautResult" nillable="true" type="q4:InterventionWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>