SmartCity/WindowsPresentationFoundation/Service References/SmartCityReference/ServiceWCFSmartCity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WindowsCommunicationFoundation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WindowsCommunicationFoundation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53221/ServiceWCFSmartCity.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
  <xs:complexType name="PersonneWCF">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonneWCF" nillable="true" type="tns:PersonneWCF" />
  <xs:complexType name="ArrayOfDIJointureWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DIJointureWCF" nillable="true" type="tns:DIJointureWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDIJointureWCF" nillable="true" type="tns:ArrayOfDIJointureWCF" />
  <xs:complexType name="DIJointureWCF">
    <xs:sequence>
      <xs:element minOccurs="0" name="Commentaire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Etat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdDefaut" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="Photo" nillable="true" type="q1:Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DIJointureWCF" nillable="true" type="tns:DIJointureWCF" />
  <xs:complexType name="ArrayOfDefautWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DefautWCF" nillable="true" type="tns:DefautWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDefautWCF" nillable="true" type="tns:ArrayOfDefautWCF" />
  <xs:complexType name="DefautWCF">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateDefaut" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdDefaut" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="Photo" nillable="true" type="q2:Binary" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DefautWCF" nillable="true" type="tns:DefautWCF" />
  <xs:complexType name="ArrayOfInterventionWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InterventionWCF" nillable="true" type="tns:InterventionWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInterventionWCF" nillable="true" type="tns:ArrayOfInterventionWCF" />
  <xs:complexType name="InterventionWCF">
    <xs:sequence>
      <xs:element minOccurs="0" name="Commentaire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateIntervention" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Defaut" type="xs:int" />
      <xs:element minOccurs="0" name="Etat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdIntervention" type="xs:int" />
      <xs:element minOccurs="0" name="Personne" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InterventionWCF" nillable="true" type="tns:InterventionWCF" />
  <xs:complexType name="ArrayOfPersonneWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonneWCF" nillable="true" type="tns:PersonneWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonneWCF" nillable="true" type="tns:ArrayOfPersonneWCF" />
</xs:schema>