SmartCity/SmartCityAndroid/Web References/WebServiceSmartCity/ServiceWCFSmartCity1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53221/ServiceWCFSmartCity.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WindowsCommunicationFoundation" />
  <xs:element name="Connexion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="m" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnexionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WindowsCommunicationFoundation" minOccurs="0" name="ConnexionResult" nillable="true" type="q1:PersonneWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDefauts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDefautsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WindowsCommunicationFoundation" minOccurs="0" name="GetAllDefautsResult" nillable="true" type="q2:ArrayOfDefautWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefautById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefautByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WindowsCommunicationFoundation" minOccurs="0" name="GetDefautByIdResult" nillable="true" type="q3:DefautWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInterventionsByDefautOrderByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInterventionsByDefautOrderByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WindowsCommunicationFoundation" minOccurs="0" name="GetInterventionsByDefautOrderByDateResult" nillable="true" type="q4:ArrayOfInterventionWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastInterventionByDefaut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastInterventionByDefautResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WindowsCommunicationFoundation" minOccurs="0" name="GetLastInterventionByDefautResult" nillable="true" type="q5:InterventionWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIntervention">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="e" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="c" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="d" type="xs:dateTime" />
        <xs:element minOccurs="0" name="def" type="xs:int" />
        <xs:element minOccurs="0" name="p" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInterventionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOuvriers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOuvriersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WindowsCommunicationFoundation" minOccurs="0" name="GetAllOuvriersResult" nillable="true" type="q6:ArrayOfPersonneWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sayHello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="sayHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sayHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>