SmartCity/WindowsPresentationFoundation/Service References/ServiceWCFSmartCityReference/ServiceWCFSmartCity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WindowsCommunicationFoundation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WindowsCommunicationFoundation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPersonneWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonneWCF" nillable="true" type="tns:PersonneWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonneWCF" nillable="true" type="tns:ArrayOfPersonneWCF" />
  <xs:complexType name="PersonneWCF">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonneWCF" nillable="true" type="tns:PersonneWCF" />
</xs:schema>